
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Newsreader:ital,opsz@1,6..72&family=Poppins&family=Tilt+Prism&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.hidden{
    display: none;
}
.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(201, 199, 199, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(168, 163, 163, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.glassItem{
    background: linear-gradient(135deg,  rgba(201, 199, 199, 0), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(115, 106, 106, 0.158);
    box-shadow: 0 0.1px 32px 0 rgba(139, 137, 137, 0.089);
}


body{
    background: linear-gradient(160deg, rgb(32, 31, 31), rgb(10, 10, 10));
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.671);
}
.container{
    margin:10px;
    width: 760px;
    height: 75dvh;
    /* transition: height 0.5s ease-in-out; */
    overflow-y:scroll;
}
.container::-webkit-scrollbar{
    width: 0rem;
}

.hedder{
    margin-top: 5px;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
}
.searchbox{
    margin-left: 15px;
    width: 65%;
}
input{
    margin-left: 25px;
    width: 30%;
    height: 30px;
    padding: 5px;
    border-radius: 15px;
}

.searchbar::placeholder{
    padding-left: 10px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.489);
}
.btn2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* loading screen */
.loading-screen {
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: transparent;
    z-index: 1000;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* no Data */
.noData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    width: 100%;
    height: 80%;
    font-size: larger;
    font-weight: 600;
}
.noData :nth-child(2) , .noData :nth-child(3){
    font-size: small;
    font-weight: 400;
}

.cityName{
    padding-inline: 25px;
    display: flex;
    align-items: end;
    font-size: small;
    gap: 10px;
}

.cityName :nth-child(3), .cityName :nth-child(2) {
    margin-bottom: 3px;
}
.cityName p{
    font-size: 1.8rem;
    font-weight: 700;
}
.cityName .dates{
    font-size: 1rem;
}
.country{
    font-size: 1.2rem;
    font-weight: 600;
}
.tempInfo{
    display: flex;
    align-items: center;
    text-align: left;
}
.weatherContent{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-left: 70px;
   padding-right: 100px;
}
.weatherContent .icon img{
    width: 150px;
}
.tempInfo .text{
    display: flex;
    flex-direction: column;
}
#para1 span{
    font-size: 60px;
}
#para2{
    margin-left: 10px;
    font-size:small;
}
.feelsLike{
    font-size: large;
}

.otherData{
    font-size: 0.8rem;
    margin-bottom: 6px;
}
.otherData > :first-child{
    font-size: 2rem;
    font-weight: 600;

}
.otherData > :nth-child(2){
    font-size: 1rem;
    font-weight: 600;
}


.boxes{
    margin: auto;
    margin-block-start: 30px;
    width: 95%;
    height: 160px;;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.281);

    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory ;
}

.boxes::-webkit-scrollbar{
    height: 0.7rem;
}
.boxes::-webkit-scrollbar-track{
    background: rgba(0, 128, 0, 0.042);
}
.boxes::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.255);
    border-radius: 25rem;
    margin-block: 30px;
}
.box{
    width: 91px;
    scroll-snap-align: start;
    margin-top: 5px;
    font-size: small;
    padding: 14px 13px;
    padding-top: 2px;
    box-shadow: none;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.box :first-child{
    margin-top: 5px;
}
.box :hover{
    cursor: pointer;

}



@media only screen and (max-width: 640px) {
    .btn2{
        width: 46px;
        border-radius: 20px;
    }
    .weatherContent{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
     .weatherContent .icon img{
         width: 125px;
     }
    .tempInfo .text{
         display: flex;
         flex-direction: column;
    }
    #para1 span{
        font-size: 45px;
    }
     #para2{
         margin-left: 10px;
         font-size:small;
     }
     .feelsLike{
         font-size: large;
     }
     
     .otherData{
         font-size: 0.8rem;
         margin-bottom: 6px;
     }
     .otherData > :first-child{
         font-size: 1.4rem;
         font-weight: 600;
     
     }
     .otherData > :nth-child(2){
         font-size: 0.8rem;
         font-weight: 600;
     }
     
}

@media only screen and (max-width: 557px) {
    .container{
        margin:10px;
        width: 760px;
        height: 80dvh;
        transition: height 0.5s ease-in-out;
        overflow-y:scroll;
    }
    .hedder{
        margin-top: 5px;
        height: 70px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: relative;
    }
    .searchbox{
        width: 65%;
    }
    input{
        width: 50%;
        height: 30px;
        padding: 5px;
        border-radius: 15px;
    }
    .locationBtn{
        margin-right: 25px;
    }
    .btn2{
        width: 46px;
        border-radius: 20px;
    }

    .cityName{
        padding-inline: 25px;
        display: flex;
        align-items: end;
        font-size: small;
        gap: 10px;
    }
    
    .cityName :nth-child(3), .cityName :nth-child(2) {
        margin-bottom: 3px;
    }
    .cityName p{
        font-size: 1.6rem;
        font-weight: 700;
    }
    .cityName .dates{
        font-size: 0.85rem;
        
    }
    .country{
        font-size: 1rem;
        font-weight: 600;
    }

    .weatherContent{
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content:center;
        padding-left: 0px;
        padding-right: 0px;
        gap: 20px;
    }
    .weatherContent .icon img{
         width: 100px;
     }

    .tempInfo{
        display: flex;
        align-items: center;
        text-align: left;
    }
    .text{
         display: flex;
         flex-direction: column;
         column-gap: 0;
    }
    #para1 span{
        font-size: 45px;
    }
    #para2{
         font-size:x-small;
     }
     .feelsLike{
         font-size: large;
     }
    
     .otherData{
         font-size: 0.8rem;
         margin-bottom: 6px;
     }
     .otherData > :first-child{
         font-size: 1.4rem;
         font-weight: 600;
     
     }
     .otherData > :nth-child(2){
         font-size: 0.8rem;
         font-weight: 600;
     }
     
}